.singin-body {
    background-image: url(/assets/images/movies/background.jpg);
    background-size: cover;
    background-position: center;
    color: var(--main-color-white);
    height: 100vh; 
    flex-direction: column; 
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.login-form {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 40px;
    border-radius: 4px;
    max-width: 450px;
    width: 100%;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #45516873;
    color: var(--main-color-var(--main-color-white));
}

.singin-code button {
    background-color: #413038 !important;
    color: var(--main-color-white);
    font-size: 0.8rem;
    text-transform: none !important;
    font-weight: bold;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: var(--main-color-white);
    font-size: 0.8rem;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #f40612;
}

.forgot-password{
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
}

.remember-me {
    display: flex;
}

.remember-me input {
    margin: 0 0 15px;
    
}


a:hover {
    text-decoration: underline;
}