.contenair-reasons-join {
    justify-content: space-between;
    padding: 20px;
    color: var(--main-color-white);
}

.reason-content {
    flex: 1 1 calc(25% - 20px); 
    background-color: #171a2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
    background-image: linear-gradient(to bottom right, #171a2b, #3c1442 100%);
}

.reason-details h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.reason-details p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.reason-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.reason-image img {
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 768px) {
    .contenair-reasons-join {
        flex-direction: column;
    }

    .reason-image img {
        width: 20%;
        height: 20%;
    }

    .reason-content {
        margin-bottom: 20px;
    }

    .reason-details h4 {
        font-size: 1.6rem;
    }
    .reason-details p{
        font-size: 1.3rem;
    }
    
}